{% extends 'base.html' %}
{% load static %}

{% block content %}
    
<!-- Start breadcrumb Area -->
<div class="rbt-breadcrumb-default ptb--100 ptb_md--50 ptb_sm--30 bg-gradient-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h2 class="title">Instructor</h2>
                    <ul class="page-list">
                        <li class="rbt-breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                        <li>
                            <div class="icon-right"><i class="feather-chevron-right"></i></div>
                        </li>
                        <li class="rbt-breadcrumb-item active">Instructor</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb Area -->

<div class="rbt-team-area bg-color-extra2 rbt-section-gap">
    <div class="container">
        <div class="row g-5">
            <!-- Start Single Team  -->
            
            <div class="col-lg-3 col-md-6 col-12">
                <div class="rbt-team team-style-default style-three small-layout rbt-hover">
                    <div class="inner">
                        <div class="thumbnail"><img src="{% static 'images/users/instructor.jpg' %}" height="70" width="100" alt="Corporate Template"></div>
                        <div class="content">
                            <h2 class="title">Admin Admin</h2>
                            <h6 class="subtitle theme-gradient">CEO, Offiel</h6>
                            <div class="social-share-wrapper">
                                <span class="rbt-short-title d-block"></span>
                                <ul class="social-icon social-default transparent-with-border justify-content-center mt--20">
                                    <li><a href="">
                                            <i class="feather-facebook"></i>
                                        </a>
                                    </li>
                                    <li><a href="">
                                            <i class="feather-x"></i>
                                        </a>
                                    </li>
                                    <li><a href="">
                                            <i class="feather-youtube"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-12">
                <div class="rbt-team team-style-default style-three small-layout rbt-hover">
                    <div class="inner">
                        <div class="thumbnail"><img src="{% static 'images/users/instructor_I2g3LsE.jpg' %}" height="70" width="100" alt="Corporate Template"></div>
                        <div class="content">
                            <h2 class="title">philip Jimmy</h2>
                            <h6 class="subtitle theme-gradient">Student</h6>
                            <div class="social-share-wrapper">
                                <span class="rbt-short-title d-block"></span>
                                <ul class="social-icon social-default transparent-with-border justify-content-center mt--20">
                                    <li><a href="">
                                            <i class="feather-facebook"></i>
                                        </a>
                                    </li>
                                    <li><a href="">
                                            <i class="feather-x"></i>
                                        </a>
                                    </li>
                                    <li><a href="">
                                            <i class="feather-youtube"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-12">
                <div class="rbt-team team-style-default style-three small-layout rbt-hover">
                    <div class="inner">
                        <div class="thumbnail"><img src="{% static 'images/users/instructor_I2g3LsE.jpg' %}" height="70" width="100" alt="Corporate Template"></div>
                        <div class="content">
                            <h2 class="title">John Doe</h2>
                            <h6 class="subtitle theme-gradient">Business man</h6>
                            <div class="social-share-wrapper">
                                <span class="rbt-short-title d-block"></span>
                                <ul class="social-icon social-default transparent-with-border justify-content-center mt--20">
                                    <li><a href="">
                                            <i class="feather-facebook"></i>
                                        </a>
                                    </li>
                                    <li><a href="">
                                            <i class="feather-x"></i>
                                        </a>
                                    </li>
                                    <li><a href="">
                                            <i class="feather-youtube"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-12">
                <div class="rbt-team team-style-default style-three small-layout rbt-hover">
                    <div class="inner">
                        <div class="thumbnail"><img src="{% static 'images/users/instructor_I2g3LsE.jpg' %}" height="70" width="100" alt="Corporate Template"></div>
                        <div class="content">
                            <h2 class="title">Ricky rop</h2>
                            <h6 class="subtitle theme-gradient">Coach</h6>
                            <div class="social-share-wrapper">
                                <span class="rbt-short-title d-block"></span>
                                <ul class="social-icon social-default transparent-with-border justify-content-center mt--20">
                                    <li><a href="">
                                            <i class="feather-facebook"></i>
                                        </a>
                                    </li>
                                    <li><a href="">
                                            <i class="feather-x"></i>
                                        </a>
                                    </li>
                                    <li><a href="">
                                            <i class="feather-youtube"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-12">
                <div class="rbt-team team-style-default style-three small-layout rbt-hover">
                    <div class="inner">
                        <div class="thumbnail"><img src="{% static 'images/users/instructor.jpg' %}" height="70" width="100" alt="Corporate Template"></div>
                        <div class="content">
                            <h2 class="title">Juan Rodrig</h2>
                            <h6 class="subtitle theme-gradient">Mechanic</h6>
                            <div class="social-share-wrapper">
                                <span class="rbt-short-title d-block"></span>
                                <ul class="social-icon social-default transparent-with-border justify-content-center mt--20">
                                    <li><a href="">
                                            <i class="feather-facebook"></i>
                                        </a>
                                    </li>
                                    <li><a href="">
                                            <i class="feather-x"></i>
                                        </a>
                                    </li>
                                    <li><a href="">
                                            <i class="feather-youtube"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-12">
                <div class="rbt-team team-style-default style-three small-layout rbt-hover">
                    <div class="inner">
                        <div class="thumbnail"><img src="{% static 'images/users/instructor_I2g3LsE.jpg' %}" height="70" width="100" alt="Corporate Template"></div>
                        <div class="content">
                            <h2 class="title">dillan matt</h2>
                            <h6 class="subtitle theme-gradient">Software Developer</h6>
                            <div class="social-share-wrapper">
                                <span class="rbt-short-title d-block"></span>
                                <ul class="social-icon social-default transparent-with-border justify-content-center mt--20">
                                    <li><a href="">
                                            <i class="feather-facebook"></i>
                                        </a>
                                    </li>
                                    <li><a href="">
                                            <i class="feather-x"></i>
                                        </a>
                                    </li>
                                    <li><a href="">
                                            <i class="feather-youtube"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- End Single Team  -->

        </div>

        <div class="row">
            <div class="col-lg-11 mt--60">
                 <nav>
                     
                 </nav>
             </div>
        </div>
    </div>
</div>


{% endblock %}

