{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container mb-11">
        <div class="row gx-0">
            <div class="col-md-7 col-xl-4 mx-auto">
                <h2>Password has been Changed</h2>
                {% include 'patails/messages.html' %}
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group mb-5">
                        <label>{{ field.label_tag}}</label>
                        <br>
                        {{ form }}
                    </div>
                    <button type="submit" class="rbt-btn btn-md btn-gradient hover-icon-reverse w-100">Login</button>
                </form>
            </div>
            
        </div>
    </div>
{% endblock %}

