{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mb-11">
    <div class="row gx-0">
        <div class="col-md-7 col-xl-4 mx-auto">
            <!-- Login -->
            <h3 class="mb-6">Enter your email</h3>
            <!-- Form Login -->
            {% include 'patials/messages.html' %}
            <form method="post" enctype="multipart/form-data">
                 {% csrf_token %}
                <!-- Submit -->
                <div class="form-submit-group">
                    <div class="form-group mb-5">

                        <div id="div_id_email" class="mb-3">    
                            <label>{{ field.label_tag}}</label>
    
                                <p>{{ form }}</p>
                        </div>
    
                    </div>
                    <button type="submit" class="rbt-btn btn-md btn-gradient hover-icon-reverse w-100">
                        <span class="icon-reverse-wrapper">
                            <span class="btn-text">Send Confirmation Link</span>
                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                        </span>
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}

